/*DARKMODE*/

body {
  background-color: #2b3035 !important;
  color: white !important;
}

/*NAVIGATION*/

.container-fluid {
  background-color: #2b3035  !important;
}

.nav-link {
  color: white !important;
  width: 85%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.active {
  background-color: #03b670 !important;
  border-radius: 15px !important;
}

.nav-link:hover {
  background-color: #03b670 !important;
  border-radius: 15px !important;
}

/*IMAGES*/

.logo_image {
  width: 40px;
  height: 40px;
}

.selection_image {
  width: 15vw;
  height: 15vw;
}

.plus_image {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.plus_image_2 {
  width: 15px;
  height: 15px;
  margin: 5%;
  border: solid 1px #03b670;
  border-radius: 15px;
  text-align: left;
  margin-right: 10%;
}

.x_image {
  width: 25px;
  height: 25px;
  margin: 5%;
  border: solid 2px #03b670;
  border-radius: 15px;
}

.x_image_2 {
  width: 15px;
  height: 15px;
  margin: 5%;
  border: solid 1px #03b670;
  border-radius: 15px;
  text-align: right;
  margin-left: 10%;
}

/*textboxen*/

.textbox_big {
  position: fixed;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 15vh;
  margin-bottom: 10%;
  padding: 15px;
  height: 300px;
  border: solid 3px #03b670;
  border-radius: 15px;
}
.textbox_big_popup {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  height: 300px;
  border: solid 3px #03b670;
  border-radius: 15px;
}
.overflow_big {
  overflow: scroll;
  height: 270px;
}
.textbox_big_main{
  position: fixed;
  margin-top: 15vh;
  width: 100vw;
}

.textbox_big_szenario {
  position: fixed;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 30vh;
  width: 80vw;
  padding: 15px;
  height: 30vh;
  border: solid 3px #03b670;
  border-radius: 15px;
}

.textbox_big_szenario_verwalten {
  position: fixed;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 40vh;
  width: 80vw;
  padding: 15px;
  height: 30vh;
  border: solid 3px #03b670;
  border-radius: 15px;
}

.textbox_big_phase_verwalten {
  position: fixed;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 25vh;
  width: 80vw;
  padding: 15px;
  height: 45vh;
  border: solid 3px #03b670;
  border-radius: 15px;
}

.overflow_big_szenario {
  overflow: scroll;
  height: 25vh;
}

.overflow_big_phase{
  overflow: scroll;
  height: 40vh;
}

.box_middle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 80vw;
  padding: 15px;
  height: 100px;
  border: solid 3px #03b670;
  border-radius: 15px;
}

.textbox_middle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  width: 80vw;
  padding: 15px;
  height: 15vh;
  border: solid 3px #03b670;
  border-radius: 15px;
}

.textbox_middle_main{
  position: fixed;
  width: 100vw;
  margin-top: 5vh;
}
.textbox_middle_main_popup{
  width: 100%;
}
.overflow_middle {
  display: flex;
  overflow: scroll;
  height: 6vh;
}
.overflow_middle_running {
  display: flex;
  overflow: scroll;
  height: 10vh;
}
.textbox_small {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 13px;
  height: 90px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 3px #03b670;
  border-radius: 15px;
}
.textbox_small_geraete {
  margin-left: auto;
  margin-right: auto;
  margin-top: 17vh;
  margin-bottom: 5%;
  width: 80%;
  padding: 13px;
  height: 70px;
  border: solid 3px #03b670;
  border-radius: 15px;
}
.overflow_small {
  display: flex;
  overflow: scroll;
  height: 65px;
}

.textbox_very_small {
  width: 100%;
  height: 30px;
  margin: 5%;
  border: solid 2px #03b670;
  border-radius: 15px;
}

.overflow_very_small {
  display: flex;
  height: 20px;
}

/*BUTTONS*/

.button_middle {
  width: 80%;
  height: 50px;
  margin: 6px;
  border-radius: 15px;
  text-align: center;
  background-color: #03b670 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button_middle_main1{
  margin-top: 61vh;
}
.button_middle_main2{
  margin-top: 70vh;
}
.button_middle_main3{
  margin-top: 79vh;
}

.button_small {
  width: 25vw;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  color: white;
  background-color: #03b670 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button_small_popup {
  width: 35vw;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  color: white;
  background-color: #03b670 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button_very_small {
  width: 100px;
  height: 25px;
  padding: 0%;
  border-radius: 15px;
  text-align: center;
  background-color: #03b670 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button_very_small_outline {
  width: 100px;
  height: 25px;
  padding: 0%;
  border-style: solid;
  border-color: #03b670;
  border-radius: 15px;
  text-align: center;
  background-color: #2b3035 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button_very_small_outline:focus {
  background-color: #03b670 !important;
}
.three_buttons {
  position: fixed;
  margin-top: 80vh;
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
}
.three_buttons_spacing{
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.plus_phase {
  position: fixed;
  display: flex;
  margin-left: 10vw;
  margin-right: auto;
  margin-top: 71vh;
}

/*dropdown on start page*/

.szenario_button {
  border-radius: 15px !important;
  width: 80%;
  text-align: center;
  background-color: #03b670 !important;
}

.szenario {
  z-index: 1;
  margin-top: 7vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdown-menu {
  width: 80%;
  text-align: center;
}
/*-----------------*/

.index_edit_button {
  width: 50%;
  border-radius: 15px;
  text-align: center;
  background-color: #03b670 !important;
}

.index_edit_button_div {
  position: fixed;
  width: 100vw;
  margin-top: 65vh;
}

.start_end_button {
  padding: 0px;
  margin-top: 10px;
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80% !important;
  height: 80px;
  border-radius: 15px;
  text-align: center;
  border-color: #03b670 !important;
  border-width: 2px;
  background-color: #2b3035;
  position: fixed;
  width: 100vw;
  margin-top: 75vh;
}

.start_end_button:focus {
  background-color: #03b670;
}

/*TEXT*/

.selection_text {
  padding: 3%;
  padding-left: 10%;
  font-size: 30px;
}

.description {
  height: 250px;
}

.description::placeholder{
  position:absolute;
   top:10px;
 }

.description_small {
  height: 120px;
}

.steuerung{
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: 62vh;
  width: 100vw;
}

.headline {
  width: 100vw;
  position: fixed;
  margin-bottom: 15px;
  margin-left: 10vw;
  margin-right: auto;
}

.headline_szenario_h3 {
  width: 100vw;
  position: fixed;
  margin-top: 23vh;
  text-align: center;
}

.headline_szenario_h4 {
  width: 100vw;
  position: fixed;
  margin-top: 36vh;
  text-align: center;
}

.headline_phase_h4 {
  width: 100vw;
  position: fixed;
  margin-top: 20vh;
  text-align: center;
}

.text_phase {
  padding-left: 5%;
  width: 100px;
  height: 20px;
  overflow: hidden;
}

/*LIST*/

.list {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  text-align: center;
  background-color: #2b3035 !important;
  border-color: #03b670;
}

.list:focus {
  background-color: #03b670 !important;
}

/*FORMAT STUFF*/
.space {
  height: 60px
}
.hundred{
  width: 100%;
}
.divider {
  margin: 80px;
}
.fixed{
  position: fixed;
  margin-top: 10vh;
}
.centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
/*# sourceMappingURL=main.css.map */